<div class="container">
    <h1>ToDo List</h1>

        <form (submit)="addToDo($event)">
        <input  autofocus=""  [(ngModel)]="todoItem" (keyup.enter)="todoItem=''" class="textfield" name="todoItem">
        </form>
<!-- 
    <form (submit)="addToDo(tdItem.value);tdItem.value=''">
      <div class="form-group">
        <label for="todo">todo:</label>
        <input autofocus=""  type="text" class="form-control" #tdItem>
      </div>
    </form> -->


<div *ngIf="todolist.length > 0">
<ul>
  <li> <input type="checkbox" class="checkbox" [(ngModel)]="todocompleted" />Mark all as complete</li>
    <li *ngFor="let todo of todolist; let i=index">
        <input type="checkbox" class="checkbox" [(ngModel)]="todo.completed" />
      <span [ngClass]="{'checked': todo.completed}">{{ todo.todoItem }}</span>
      <button (click)="removeToDo(i)" class="rmv">remove</button>
        </li>
</ul>
</div>



<div *ngIf="todolist.length > 0">
    <strong>{{todolist.length}}</strong> 
    {{todolist.length == 1 ? 'item' : 'items'}} left
  </div>
</div>